// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  padding-top: 125px;
}

.container {
    color: #222;
    background: lightgrey;
    
    a {
      color: #222;
      
      &:hover {
        text-decoration: none;
        background-color: white;
      }
      
      &:visited {
        color: #222;
      }
    }
    
    .entries {
      padding-top: 75px;
    }
    
    small {
      color: #999;
    }
}
