// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-family: 'Duru Sans', sans-serif;
  line-height:200%;
}

header {
  background: white;
  //margin: 45px 0px 50px 0px;
  opacity:0.9;
  -webkit-box-shadow: 0 8px 6px -6px #999;
     -moz-box-shadow: 0 8px 6px -6px #999;
          box-shadow: 0 8px 6px -6px #999;
  
  &:hover {
    background: #00ADA8;
    opacity: 1;
  }
  
  h1 {
    font-family: 'Over the Rainbow', cursive;
  }
}

.title {
  font-family: 'Russo One', sans-serif;
  color: #444;
}

.listing {
  background: white;
  border: 5px dashed lightgrey;
  
  h2 {
  font-family: 'Russo One', sans-serif;
  
    span {
      font-size: small;
        a {
        color: #333;
        font-size: small;
      } 
    } 
  }
}

.blog_title:hover {
  background: lightgrey;
  cursor: pointer;
  
  h2 {
    color: #00ADA8;
  }
}


